@import "../utils/mixins.module";
@import "../utils/colors.module";
@import "../utils/variables.module";

.dropArea {
  background-color: transparent;
  color: $white;
  padding: 15px;
  border-radius: $border-radius;
  text-align: center;
  border: 1px dashed $borderColor;
  transition: $transition;
  opacity: 1;
}

.hideDrop {
  opacity: 0;
}
