@import "../utils/mixins.module";
@import "../utils/colors.module";
@import "../utils/variables.module";

.propertyItem {
  background-color: $white;
  color: $black;
  padding: 15px;
  border-radius: $border-radius;
  cursor: grab;
  text-align: center;

  @include mobile {
    padding: 10px;
  }
}

.propertyItem:active {
  opacity: 0.5;
}
